.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 0;
    justify-items: center;
    .movie-card {
        background-color: transparent;
        width: 200px;
        height: 300px;
        text-align: center;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        .movie-poster {
            // width: 0.9rem;
            // height: 0.9rem;
            // padding: ;
            margin-top: 10px;
            height: 75%;
            width: 75%;
        }
        .movie-title{
            font-weight: 600;
            margin: 0 5%;
            margin-top: 2%;
            text-overflow: ellipsis;
            overflow: hidden; 
            width: 160px; 
            height: 2em; 
            white-space: nowrap;
        }
        .genresUl {
            
            margin: 0 8%;
            padding: 0;
            text-align: justify;
            li {
                display: inline-block;
                // text-decoration: ;
                margin-left: 10%;
                // padding-left: 10%;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 1rem;
        .movie-card {
            background-color: transparent;
            width: 170px;
            height: 230px;
        }
    }
}
@media only screen and (max-width: 592px) {
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        grid-gap: 1rem;
        .movie-card {
            background-color: transparent;
            width: 140px;
            height: 200px;
            .movie-title {
                text-overflow: ellipsis;
                overflow: hidden; 
                width: 120px; 
                height: 1em; 
                white-space: nowrap;
            }
        }
    }
}
@media only screen and (max-width: 501px) {
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 1rem;
        .movie-card {
            background-color: transparent;
            width: 100px;
            height: 150px;
            .movie-title {
                text-overflow: ellipsis;
                overflow: hidden; 
                width: 100px; 
                height: 1em; 
                white-space: nowrap;
            }
        }
    }
}

// .main {
//     display: grid;

//     grid-template-columns: repeat(3, 1fr);
    
//     grid-auto-rows: auto;
    
//     grid-gap: 1rem;
//     .movie-card {
//         background-color: yellowgreen;
//         width: 200px;
//         height: 300px;
//     }
// }